@{
    ViewData["Title"] = "About Me";

    <h1>@ViewData["Title"]</h1>

    <p>Name: Rodriguez, Yuan Jasper G.

        Age: 21

        Course and Year: BSIT-31A3

        Photo (optional)</p>
    <p> "My Expectations for Web Systems and Technologies"
        I expect Web Systems and Technologies to be complicated and tedious, but I am really eager to learn and try and do something in my life.
        To challenge myself in doing something difficult and complicated so that I am more determined.
        I feel lazy the more the year comes and I feel like I should do something.
        I think this subject is boring and quite complex, which is perfect for me to learn and work with.
    </p>
}